<!DOCTYPE html>
<html>

<head>
  <title>Escolha seu serviço</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">


  <style>
    body {
      font-family: 'San Francisco', 'Helvetica Neue', Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f1f1f1;
      overflow-x: hidden;
    }

    nav {
      background-color: #2a2a2a;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .icon {
      position: fixed;
      bottom: 50px;
      right: 50px;
      width: 50px;
      height: 50px;
    }

    .home-button {
      margin-left: 10px;
      color: white;
      font-weight: bold;
      text-decoration: none;
    }

    .home-button:hover {
      transform: scale(1.2);
      transition: transform 0.3s ease;
    }


    .icon {
      position: fixed;
      bottom: 50px;
      right: 50px;
      width: 50px;
      height: 50px;
    }


    main {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

    }

    .container {

      width: 40%;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
      border-radius: 25px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    h1 {
      margin-bottom: 20px;
    }

    select {
      width: 100%;
      padding: 12px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 25px;
    }


    input[type="submit"] {
      width: 100%;
      background-color: #333;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      border-radius: 25px;

    }

    input[type="submit"]:hover {
      background-color: #2a2a2a;
    }
  </style>

</head>

<body>
  <nav>
    <p class="home-button">Seja bem vindo!</p>
  </nav>
  <img
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F1.bp.blogspot.com%2F-PM8_Rig8V0M%2FXxFkv-2f3hI%2FAAAAAAAACSU%2FvB1BqbuhFCMyJ8OGCVstFiMLFmavCLqrwCPcBGAYYCw%2Fs1600%2Fwhatsapp-logo-1.png&f=1&nofb=1&ipt=7fcb88136930c6dd78dd59d2059aabbf55341bf7b4056f1a61984e85f0605589&ipo=images"
    alt="Seu ícone" class="icon">


  <main>
    <div class="container">
      <h1>Escolha seu serviço</h1>

      <form action="/escolher" method="post">

        <select name="tipoDeServico">
          <option value="aluguel">Aluguel</option>
          <option value="servico">Prestação de Serviço</option>
        </select>

        <input type="submit" value="Escolher">
      </form>
    </div>
  </main>
</body>

</html>